@{
    Layout = "_Layout";
}

@using Bakery.Models;

<div class="container">
    <h1>Welcome to <span class="name">Pierre's Bakery</span>!</h1>

    <div class="flex-container flavor-treat-div">
        <h4>Flavors</h4>
        @if (Model.Flavors.Count == 0)
        {
            <p>No flavors have been added yet!</p>
        }
        <div class="button-container">
            @foreach (Flavor flavor in Model.Flavors)
            {
                <button class="button flavor-treat-btn" onclick="location.href='@Url.Action("Details", "Flavors", new { id = flavor.FlavorId })'">
                    @flavor.Description
                </button>
            }
            <button class="button flavor-treat-btn" onclick="location.href='@Url.Action("Create", "Flavors")'">
                +
            </button>
        </div>

        <h4>Treats</h4>
        @if (Model.Treats.Count == 0)
        {
            <p>No treats have been added yet!</p>
        }
        <div class="button-container">
            @foreach (Treat treat in Model.Treats)
            {
                <button class="button flavor-treat-btn" onclick="location.href='@Url.Action("Details", "Treats", new { id = treat.TreatId })'">
                    @treat.Name
                </button>
            }
            <button class="button flavor-treat-btn" onclick="location.href='@Url.Action("Create", "Treats")'">
                +
            </button>
        </div>

        <hr>
    </div>

    <div class="button-container">
        <button class="button" onclick="location.href='@Url.Action("Index", "Treats")'">Manage treats</button>
        <button class="button" onclick="location.href='@Url.Action("Index", "Account")'">Create or manage an account</button>
    </div>
</div>