@{
    Layout = "_Layout";
}

@using Bakery.ViewModels

@model LoginViewModel
<div class="container">

    <h2>Log in with your account</h2>
    <hr />

    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
    }

    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)

        <button type="submit" class="button">Log in</button>
    }

    <p><button class="button" onclick="location.href='@Url.Action("Register")'">Register for an account</button></p>
    <p><button class="button" onclick="location.href='@Url.Action("Index")'">Back to accounts page</button></p>
</div>
