@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor
<div class="container">
<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  //@Html.LabelFor(model => model.Tag)
  //@Html.DropDownList("TagId")

  <input type="submit" class="button" value="Save" />
}

<p><button class="button">@Html.ActionLink("Back to list", "Index")</button></p>
</div>